/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

body {
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  margin: 24px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  list-style-type: none;
  flex-basis: calc((100% - 48px) / 3);
  box-sizing: border-box;
}

.gallery-image:hover {
  transform: scale(1.05);
  transition: 0.9s ease;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal {
  padding: 20px;
  user-select: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
