/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

body {
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
